// 头部
.header-con {
    position: relative;
    width: 100%;
    .header{
        background-color: #f23030;
        height: 50px;
        position: fixed;
        width: 100%;
        z-index: 209;
        border-bottom: none;
        .header-content{
            position: relative;
            width: 100%;
            height: 50px;
            height: 100%;
            line-height: 50px;
            display: -webkit-box;
            .SZY-SUBSITE{
                .city{
                    display: block;
                    margin-right: 12px;
                    text-indent: 10px;
                    height: 50px;
                    line-height: 50px;
                    background: url(../images/arrow_down.png) no-repeat right center;
                    background-size: 15px 15px;
                    padding-right: 18px;
                    color: #fff;
                    font-size: 0.25rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .box-search{
                -webkit-box-flex: 1;
                -ms-flex: 1;
                background: #fff;
                margin-top: 8px;
                height: 34px;
                line-height: 35px;
                -webkit-box-sizing: border-box;
                position: relative;
                border-radius: 20px;
                color: #4f4f4f;
                font-size: 0.28rem;
                a{
                    .single-line {
                        position: relative;
                        -webkit-box-flex: 1;
                        overflow: hidden;
                    }
                }
            }
            .nav-wap-right{
                margin-top: 5px;
                position: relative;
                margin: 5px 10px 0;
                .qrcode{
                    margin: 0 5px 0 0;
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                }
                a{
                    display: inline-block;
                    .top-right{
                        background-image: url(../images/message.png);
                        width: 25px;
                        height: 25px;
                        margin: auto;
                        position: relative;
                        -webkit-background-size: contain;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                        .message-num {
                            position: absolute;
                            left: 17px;
                            top: 0;
                            background-color: #FFF;
                            min-width: 13px;
                            height: 13px;
                            line-height: 14px;
                            border-radius: 50%;
                            font-size: 10px;
                            text-align: center;
                        }
                    }
                    .bottom-nav{
                        display: block;
                        height: 10px;
                        line-height: 10px;
                        margin-top: 4px;
                        text-align: center;
                        font-size: 12px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// 轮播图
.lbt{
    a{
        img{
            width: 100%;
        }
    }
}
// 导航栏
.nav-list{
    width: 100%;
    overflow: hidden;
    background: #FFF;
    padding-top: 10px;
    background-size: 100% 100%;
    ul{
        width: 98%;
        overflow: hidden;
        margin: 0 auto;
        li{
            a{
                display: block;
                width: 20%;
                overflow: hidden;
                float: left;
                text-align: center;
                margin-bottom: 10px;
                position: relative;
                height: 62px;
                background: none !important;
                img{
                    width: 40px;
                    height: 40px;
                    margin: 0 auto 6px auto;
                    display: block;
                }
                span{
                        display: block;
                        width: 100%;
                        height: 16px;
                        text-align: center;
                        line-height: 1em;
                        color: #222;
                        font-size: 12px;
                        position: absolute;
                        left: 0px;
                        bottom: 0px; 
                }
            }
        }
    }
}
//商城热点
.hot{
        width: 100%;
        height: 60px;
        background: #FFF;
        border-bottom: 1px solid #eee;
        .notice-img{
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 44px;
                    background-color: #eee;
                    position: absolute;
                    right: -20px;
                    top: 0;
                    };
                float: left;
                width: 44px;
                height: 44px;
                margin: 8px 20px;
                position: relative;
                a{
                    display: block;
                    background-size: 100px;
                    background-color: #fff;
                    img{
                            height: 44px;
                            width: 44px;
                    }
                }
        };
        ul{
            position: absolute;
            left: 95px;
            top: 0px;
            overflow: hidden;
            li{
               width: 100%;
               height: 60px;
               float: left;
               line-height: 60px;
               .hot-message{
                    display: block;
                    width: 80%;
                    float: left;
                    margin-left: 2%;
                    height: 50px;
                    margin-top: 5px;
                    a{
                        display: block;
                        padding-left: 10px;
                        height: 25px;
                        overflow: hidden;
                        font-size: 0.12rem;
                        line-height: 25px;
                        color: #666;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        position: relative;
                        &:before{
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 10px;
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background: #f23030;
                        }
                    }
               }
            }
        }
}

// 小标题
.litle_title{
    height: .5rem;
    line-height: .5rem;
    font-size: .28rem;
    font-weight: bold;
    color: #222;
    text-align: center;
    position: relative;
    font{
        display: inline-block;
        width: .6rem;
        height: 0.02rem;
        background: #999;
        position: relative;
        top: 0.24rem;
        vertical-align: top;
    }
}
// 必抢内容区域
.box1{
    width: 100%;
    overflow: hidden;
    ul{
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid transparent;
        box-sizing: border-box;
        padding-right: 3px;
        li{
                width: 25%;
                float: left;
                overflow: hidden;
                border-bottom: 1px solid transparent;
                box-sizing: border-box;
                padding-left: 1px;
                a{
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    display: block;
                    padding-top: 100%;
                    img{
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                }
        }
    }
}

// 品牌资讯内容区域
.box2{
   ul{
       li{
           width: 33.33%;
        //    float: left;
        //    overflow: hidden;
       }
   }
}
// 便捷生活内容区域
.box3{
        width: 100%;
        overflow: hidden;
        dl{
            a{      
                overflow: hidden;
                width: 100%;
                display: block;
                img{  
                    display: block;
                    width: 100%;
                }
            }
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid transparent;
            padding-right: 1px;
            box-sizing: border-box;
            dt{
                width: 50%;
                overflow: hidden;
                float: left;
                position: relative;
            }
            dd{
                width: 50%;
                overflow: hidden;
                float: left;
                position: relative;
                span{
                    display: block;
                    width: 100%;
                    overflow: hidden;
                }
            }
        }
}
// 精选市场内容区域,
.box4{
    ul{
        li{
            width: 25%;
            a{
                padding-top: 140%;
            }
        }
    }
}
// 精选市场内容区域2,
.box5{
    ul{
        li{
            width: 50%;
            a{
                padding-top: 45%;
            }
        }
    }
}
// 热门行业内容区域1
.box6{
    ul{
        li{
            width: 50%;
            a{
                padding-top: 41%;
            }
        }
    }
}
// 热门行业内容区域2
.box7{
    ul{
        li{
            width: 25%;
            a{
                padding-top: 138%;
            }
        }
    }
}
// 精挑细选内容区域
.selects{
    // background-color: #f4f4f4;
    .selects-content{
        ul{
            width: 50%;
            float: left;
            text-align: center;
            overflow: hidden;
            margin-bottom: .05rem;
            li{
                width: 97%;
                margin: auto;
                margin-bottom: 3%;
                background: #FFF;
                overflow: hidden;
                -webkit-box-shadow: 0 0 1px #eee;
                box-shadow: 0 0 1px #eee;
                box-sizing: border-box;
                .goods-info{
                    width: 100%;
                    overflow: hidden;
                    margin: auto;
                    position: relative;
                }
                .item-tag-box{
                        top: 0px;
                        right: 0.06rem;
                }
                .goods-pic{
                    width: 100%;
                    margin: auto;
                    overflow: hidden;
                    position: relative;
                    a{
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                    };
                    img{
                        display: block;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                };
                .goods-name{
                    width: 93%;
                    margin: auto;
                    text-align: left;
                    height: 0.6rem;
                    overflow: hidden;
                    margin-top: 0.06rem;
                    a{
                        display: block;
                        width: 100%;
                        height: 0.5rem;
                        line-height: 0.26rem;
                        overflow: hidden;
                        color: #222;
                        font-size: 0.22rem;
                    }
                }
                .price{
                    width: 100%;
                    overflow: hidden;
                    margin: auto;
                    position: relative;
                    text-align: left;
                    margin-bottom: 0.06rem;
                    color: #f23030;
                    span{
                        display: block;
                        width: 93%;
                        overflow: hidden;
                        margin: auto;
                        font-size: 0.3rem;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}
// 附近店铺
.nearby-shops-box {
    width: 100%;
    .shop-loading-con{
        padding: .1rem 0;
        text-align: center;
        background: #fff;
        margin: 0 auto;
        img{
            width: 1.3rem;
            height: auto;
        }
        .shop-loading-text{
            margin: 15px 0;
            color: #666;
            font-size: 13px;
        }
    }
}
// 底部菜单footer
.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #fff;
    border-top: 1px solid #eee;
    z-index: 101;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    padding-top: 0.03rem;
    ul{
        width: 100%;
        height: 45px;
        margin: 0 auto;
        padding: 0px;
        display: -webkit-box !important;
        display: box !important;
        position: relative;
        li{
            position: relative;
            -webkit-box-flex: 1;
            height: .45rem;
            text-align: center;
            margin: 0px;
            width: 100%;
            box-sizing: border-box;
            a{
                text-align: center;
                font-size: 12px;
                color: #333;
                display: block;
                height: 45px;
                position: relative;
                margin: auto;
            };
            i{
                display: block;
                width: 25px;
                height: 25px;
                margin: auto;
                background-size: contain;
            }
            span{
                display: block;
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 0.16rem;
            }
            .footer-span-color{
                color: #f23030;
            }
        }
    }
}
// 底部占行
.occupying{
    clear: both;
    height: 48px;
    line-height: 48px;
}